labels:
  app: "redmine"
  group: "web"

global:
  containerRegistry: pmidcio
namespace: egov 

replicaCount: 1

image:
  repository: redmine
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

##ingress:
##  enabled: true
#  annotations: {}
#  hosts:
#    - host: redmine.example.com
#      paths:
#        - path: /
#          pathType: Prefix
#  tls: []
 

# Ingress Configs
#ingress:
#  enabled: true
#  context: "kibana"
#  additionalAnnotations: |
#    nginx.ingress.kubernetes.io/auth-signin:  https://$host/oauth2/start?rd=$escaped_request_uri
#    nginx.ingress.kubernetes.io/auth-url:     https://$host/oauth2/auth 
  
ingress:
  enabled: true
  context: "redmine"
  port:
    number: 3000
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80

#storageClass: gps1
#enabled: false
#  size: 10Gi

# Environment variables
env:
  REDMINE_DB_POSTGRES: "pb-uat-v2-db-prod-restore.cq2b7v4okuhm.ap-south-1.rds.amazonaws.com"
  REDMINE_DB_PORT: "5432"
  REDMINE_DB_DATABASE: "postgres"
  RAILS_ENV: "production"
  REDMINE_VERSION: "5.1.3"
  REDMINE_DOWNLOAD_URL: "https://www.redmine.org/releases/redmine-5.1.3.tar.gz"
  REDMINE_DOWNLOAD_SHA256: "8a22320fd9c940e6598f3ad5fb7a3933195c86068eee994ba6fcdc22c5cecb59"
  PATH: "/usr/local/bundle/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
  LANG: "C.UTF-8"
  RUBY_VERSION: "3.2.5"
  RUBY_DOWNLOAD_URL: "https://cache.ruby-lang.org/pub/ruby/3.2/ruby-3.2.5.tar.xz"
  RUBY_DOWNLOAD_SHA256: "7780d91130139406d39b29ed8fe16bba350d8fa00e510c76bef9b8ec1340903c"
  GEM_HOME: "/usr/local/bundle"
  BUNDLE_SILENCE_ROOT_WARNING: "1"
  BUNDLE_APP_CONFIG: "/usr/local/bundle"
  GOSU_VERSION: "1.17"
  HOME: "/home/redmine"

#secretName: pb-uat-v2-secrets
