global:
  domain: pmidc-builds.digit.org ## Add your Domain Name Eg: site.mydomain.com
  setup: fullsetup
  
cluster-configs:
  namespaces:
    create: true
    values: [ jenkins, monitoring ]
  root-ingress:
    namespace: jenkins
    serviceName: jenkins
    servicePort: 8080
    appRoot: ""
    cert-issuer: "letsencrypt-prod"

jenkins:
  persistence:
    enabled: true
    aws:
      - volumeId: "vol-054ce663f9040ea17" # Add volume id for jenkins-home
        zone: ap-south-1b # Add respective availability_zones 

  oauth:
    enabled: true
    acl:
      admin:
        - pmidc-digit*pmidc-service-devops
      user:
        - pmidc-digit*pb-dev
       

  jobBuilder:
    repos: >-
      'git@github.com:pmidc-digit/Punjab-Implementation.git','git@github.com:pmidc-digit/core-services.git','git@github.com:pmidc-digit/business-services.git','git@github.com:pmidc-digit/municipal-services.git','git@github.com:pmidc-digit/frontend.git','git@github.com:pmidc-digit/DIGIT-PUNJAB.git'

  deploymentJobs:
    - name: pb-qa
      acl: [pmidc-digit*pb-uat]  
    - name: pb-uat
      acl: [pmidc-digit*pb-uat]   
    - name: pb-prod-v2
      acl: [pmidc-digit*PB-PROD] 
    - name: pb-uat-v2
      acl: [pmidc-digit*pb-uat]               
    - name: ci
      acl: [pmidc-digit*pmidc-service-devops]
    - name: punjab-prod-fsm
      acl: [pmidc-digit*punjab-prod-fsm] 
    
       
  master:
    ingress:
      enabled: true
    resources:
      limits:
        cpu: "2000m"
        memory: "4096Mi"
    javaOpts: "-Xms2560M -Xmx2560M -Duser.timezone=Asia/Calcutta"

nginx-ingress:
  replicas: 1
  default-backend-service: "jenkins/jenkins"
  namespace: jenkins
  cert-issuer: "letsencrypt-staging"
  ssl-protocols: "TLSv1.2 TLSv1.3"
  ssl-ciphers: "EECDH+CHACHA20:EECDH+AES"
  ssl-ecdh-curve: "X25519:prime256v1:secp521r1:secp384r1"
  controller:
    image:
      repository: egovio/nginx-ingress-controller
      tag: "0.26.1"

cert-manager:
  namespace: jenkins
  clusterIssuer:
    stage:
      acme:
        email: "githuboauth@egovernments.org"     # Add mail id

cluster-autoscaler:
  namespace: jenkins
  cloudProvider: aws  
  awsRegion: ap-south-1
  autoDiscovery:
    clusterName: punjab-cicd # Add cluster name
    tags:
    - kubernetes.io/cluster/punjab-cicd # Add cluster name
