# Common Labels
labels:
  app: "maintain"
  group: "web"

# Ingress Configs
ingress:
  enabled: true
  context: "common-screen"

# Init Containers Configs
initContainers: {}

# Container Configs
image:
  repository: "maintain"
replicas: "1"
httpPort: 80
healthChecks:
  enabled: true
  livenessProbePath: "/common/"
  readinessProbePath: "/common/"
namespace: egov
